html {
    width: 500px;
    height: 300px;
}

body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
}

:root {
    --bs-body-bg: var(--bs-gray-100);
    --bs-body-font-family: 'Lora', serif;
    font-style: normal;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.dark-mode .nav-link {
    color: #ffffff;
}

/*Rainbow tittle*/
.wordA {
    --colorA: red;
    --colorB: yellow;
    --conlorC: blue;
}

.wordB {
    --colorA: blue;
    --colorB: red;
    --conlorC: yellow;
}

.wordC {
    --colorA: yellow;
    --colorB: blue;
    --conlorC: red;
}

@keyframes rainbow {
    33% {color: var(--colorA); }
    66% {color: var(--colorB); }
    100% {color: var(--colorC); }
}

.rainbow {
    animation: 2s infinite rainbow;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.603);
    border: none;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    color: white;
}
