html {
    width: 600px;
    height: 600px;
}

body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 60px;
}

.custom-background {
    background-color: #301f87;
}

:root {
    --bs-body-bg: var(--bs-gray-100);
    --bs-body-font-family: 'Lora', serif;
    font-style: normal;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.dark-mode .nav-link {
    color: #ffffff;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.603);
    border: none;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    color: white;
}

.wrapper {
    position: relative;
    cursor: crosshair;    
}

.resized {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.quantized {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
